@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit-v11-latin-regular.woff2') format('woff2');
  font-weight: 400; 
  font-style: normal; 
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit-v11-latin-700.woff2') format('woff2');
  font-weight: 700; 
  font-style: normal; 
}

@keyframes BG {
  0% {
    background-color:var(--bg-color-primair);
  } 
  50% {
    background-color:var(--bg-color-secondair);
  }
  100% {
    background-color:var(--bg-color-tertriar);
  }
}

:root {
  --font-family: 'Outfit', arial, sans-serif;
  --font-weight-thin: 100;

  --color-blue: #0939F8;
  --color-lightblue: #0939f851;
  --color-black: #f1ffc6;

  --color-regular-text: var(--color-black);
  --color-background:#141414;
  --color-background-section:#252525;
  --color-shadow: #878787ad;

  --color-status-good-border:#a5c536;
  --color-status-fine-border:#E75A00;
  --color-status-bad-border:#FF0084;
  --color-status-good: rgba(var(--color-status-good-border), 0.2);
  --color-status-fine: rgba(var(--color-status-fine-border), 0.2);
  --color-status-bad:rgba(var(--color-status-bad-border), 0.2);

  --bg-color-primair:#E7A9D9;
  --bg-color-secondair:#11C537;
  --bg-color-tertriar:#7DDACF;


  --average-gap: 20px;
  --average-padding: 50px;

  --box-shadow: 0px 0px 9px -2px var(--color-shadow);
  --section-border-radius: 8px;  
  
  animation: BG linear forwards;
  animation-timeline: scroll();
}

@media screen and (max-width: 500px) {
  :root {
    --average-padding: 20px; 
  }
}

* {
  font-family: var(--font-family);
  color: var(--color-regular-text);

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section,
ul {
  margin: 100px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --heading-line-height: 90%;
  --heading-letter-spacing: 0px;
  --heading-font-weight: 700;

  font-family: var(--font-family-medium);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
}

p,
ul,
li,
a {
  --font-size: 1.1em;
  --font-color: var(--color-regular-text);
  --line-height: 24px;

  font-size: var(--font-size);
  color: var(--font-color);
  line-height: var(--line-height);
}

a {
  --color-hyperlink:var(--color-blue);
  --color-hyperlink-active: #004497;

  color: var(--color-hyperlink);
}

a:hover {
  color: var(--color-hyperlink-active);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@keyframes Float {
	0% {
		transform: translate(0px, 0px);
    rotate: 0deg;
	}
	25% {
		transform: translate(30px, -30px);
    rotate: 15deg;
	}
  75%{
    transform: translate(-30px, 30px);
    rotate: -15deg;
  }
	100% {
		transform: translate(0px, 0px);
    rotate: 0deg;
	}
}

@keyframes Existing {
	0% {
		transform: translate(10px, -10px);
	}
	25% {
		transform: translate(30px, -30px);
	}
  75%{
    transform: translate(-30px, 30px);
  }
	100% {
		transform: translate(0px, 0px);
	}
}

.float-animation {
  animation: Float ease-in forwards;
  animation-timeline: view();
}

.existing-animation {
  animation: Existing ease-in infinite;
}

