@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit-v11-latin-regular.woff2') format('woff2');
  font-weight: 400; 
  font-style: normal; 
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit-v11-latin-700.woff2') format('woff2');
  font-weight: 700; 
  font-style: normal; 
}

:root {
  --font-family: 'Outfit', arial, sans-serif;
  --font-weight-thin: 100;

  --color-blue: hsl(182 100% 52%);
  --color-lightblue: hsl(61 100% 30%);
  --color-black: #ffffff;

  --color-regular-text: var(--color-black);
  --color-background:#171717;
  --color-background-section:#2222224f;
  --color-shadow: #C8C8C8;

  --color-status-good:#00800070;
  --color-status-fine:#ffa60053;
  --color-status-bad:#ff00004a;
  --color-status-good-border:green;
  --color-status-fine-border:orange;
  --color-status-bad-border:red;

  --average-gap: 20px;
  --average-padding: 30px;

  --box-shadow: 0px 0px 9px -2px var(--color-shadow);
  --section-border-radius: 8px;  
  
}

@media screen and (max-width: 500px) {
  :root {
    --average-padding: 20px; 
  }
}

* {
  font-family: var(--font-family);
  color: var(--color-regular-text);

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@property --ang {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

body {
  background: linear-gradient(var(--ang, 0deg), var(--color-blue) 50%, var(--color-lightblue) 0%);
  animation: rot 1s cubic-bezier(0.68, -0.57, 0.26, 1.65) infinite alternate-reverse;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  --heading-line-height: 90%;
  --heading-letter-spacing: 0px;
  --heading-font-weight: 700;

  font-family: var(--font-family-medium);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
}

p,
ul,
li,
a {
  --font-size: 1.1em;
  --font-color: var(--color-regular-text);
  --line-height: 24px;

  font-size: var(--font-size);
  color: var(--font-color);
  line-height: var(--line-height);
}

a {
  --color-hyperlink:var(--color-blue);
  --color-hyperlink-active: #004497;

  color: var(--color-hyperlink);
}

a:hover {
  color: var(--color-hyperlink-active);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@view-transition{
  navigation: auto;
}

@keyframes rot {
  to {
    --ang: 1turn;
    transform: translateY(100px);
  }
}



